// .about {
//   background: #00000010;
// }

.inform__title {
  display: inline-block;
  padding: 6px;
  background-color: $seconaryBgColor;
  border: 1px solid rgba(35, 35, 35, 0.308);
  border-radius: 6px;
  font-size: 22px;
  text-align: center;
  font-size: 26px;
  font-weight: 500;
  width: 100%;
}
// .inform__container {
//   height: 700px;
// }
.gallary__wrap {
  background-color: $seconaryBgColor;
  border: 1px solid rgba(35, 35, 35, 0.308);
  border-radius: 10px;
  padding: 15px;
}

.inform__wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.inline-gallery-container {
  width: 100%;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
  background: $primaryBgColor;
  @media screen and (min-width: 1201px) {
    height: 620px;
  }
}
#myCarousel {
  --f-carousel-slide-height: 60%;
  --f-carousel-spacing: 10px;

  height: calc(100% - 92px);
  & .f-carousel__nav .f-button {
    background-color: #00000020;
    border-radius: 5px;
    overflow: hidden;
  }
}
.f-carousel__track .f-carousel__slide {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 12px;
  margin: 0;
  & img {
    object-fit: contain;
    height: 100%;
    width: 100%;
  }
}

.inline-gallery-container .f-carousel__dots {
  display: none;
}

.f-thumbs__viewport {
  background-color: #00000020;
}
.f-carousel__viewport.is-draggable {
  padding-top: 12px;
}
.f-progress {
  display: none;
}
.fancybox__nav .f-button {
  border-radius: 5px;
  overflow: hidden;
  background-color: #18181ba6;
}
