.inform__title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 26px;
  font-weight: 500;
}

.inform__wrap,
.hero__text-wrap {
  background-color: #997a5d;
  border: 1px solid rgba(35, 35, 35, 0.308);
  border-radius: 10px;
  padding: 15px;
}

.inline-gallery-container {
  width: 100%;
  height: 60%;
  padding-bottom: 65%;
}
.lg-inline .lg-backdrop {
  background: #3b322b;
  border-radius: 10px;
}
.lg-outer .lg-thumb-outer {
  background: transparent;
}
.lg-toolbar,
.lg-components {
  background: #00000010;
}
.lg-progress-bar .lg-progress {
  border-radius: 10px;
  background-color: #534438;
}
.lg-show-autoplay .lg-progress-bar {
  overflow: hidden;
  border-radius: 10px;
}
.lg-item {
  width: 100%;
}
