@import '~node_modules/modern-normalize/modern-normalize.css';
$primaryBgColor: #1c2b2d;
$seconaryBgColor: #9e9a98;
$accentBgColor: #745846;
$textColor: #000000;
$iconColor: #9e9a98;
$iconHover: #b9b3b0;

a {
  text-decoration: none;
  color: currentColor;
}
.container {
  padding-bottom: 20px;
  padding-top: 20px;
}

html {
  scroll-behavior: smooth;
}
ol,
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  background-color: $primaryBgColor;
  font-family: 'Playfair Display', serif;
  color: $textColor;
}
