.gallery__thumb {
  position: relative;

  margin-left: auto;
  margin-right: auto;
  z-index: 5;

  width: 100%;
  height: 220px;

  @media screen and (min-width: 768px) {
    width: 704px;
    height: 327px;
  }
  @media screen and (min-width: 1201px) {
    width: 100%;
    height: 422px;
  }
  // @include desktop {
  //   width: 1013px;
  // }
}
.gallery__swap {
  background-color: transparent;

  margin-left: auto;
  margin-right: auto;
  border-radius: 7px;
  overflow: hidden;
  border: none;

  width: 100%;
  height: 220px;

  @media screen and (min-width: 768px) {
    width: 704px;
    height: 327px;
  }
  @media screen and (min-width: 1201px) {
    width: 100%;
    height: 422px;
  }
}
.gallery__swap img {
  object-fit: cover;
}
.gallery__swap .gallery__photo-1 {
  position: relative;
  object-fit: cover;
  animation: rotateY1 10s linear infinite;
  backface-visibility: hidden;
}

.gallery__photo-1 {
  background-image: url(../images/Pti-brabanson1.jpg);
}
.gallery__swap .gallery__photo-2 {
  position: relative;
  top: -100%;
  object-fit: cover;
  animation: rotateY2 10s linear infinite;
  backface-visibility: hidden;
}
.gallery__photo-2 {
  z-index: -1;
  background-image: url(../images/Pti-brabanson7.jpg);
}
.gallery__photo-1,
.gallery__photo-2 {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}
@keyframes rotateY1 {
  0% {
    transform: translateX(100%);
  }
  40% {
    transform: translateX(100%);
  }
  50% {
    transform: rotateY(0);
  }
  90% {
    transform: rotateY(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes rotateY2 {
  0% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100%);
  }
  51% {
    transform: translateX(100%);
  }
  90% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
