<section id="aboutMe" class="about">
  <div class="inform__container container">
    <div class="inform__wrap">
      <h2 class="lng__inform__title inform__title">Про мене</h2>
      <div class="gallary__wrap">
        <div id="gallery-wrap" class="inline-gallery-container">
          <div class="f-carousel" id="myCarousel">
            <div class="f-carousel__viewport">
              <div class="f-carousel__track">
                <a
                  class="f-carousel__slide"
                  href="https://www.youtube.com/watch?v=tHnwV5ay8-8"
                  data-thumb-src="https://img.youtube.com/vi/tHnwV5ay8-8/maxresdefault.jpg"
                  data-fancybox="video-gallery"
                >
                  <img
                    data-lazy-src="https://img.youtube.com/vi/tHnwV5ay8-8/mqdefault.jpg"
                  />
                </a>
                <a
                  class="f-carousel__slide"
                  href="https://www.youtube.com/watch?v=tHnwV5ay8-8"
                  data-thumb-src="https://lipsum.app/id/1/256x144"
                  data-fancybox="video-gallery"
                >
                  <img data-lazy-src="https://lipsum.app/id/1/688x387" />
                </a>
                <a
                  class="f-carousel__slide"
                  href="https://lipsum.app/id/1/688x387"
                  data-thumb-src="https://lipsum.app/id/1/256x144"
                  data-fancybox="gallery"
                >
                  <img data-lazy-src="https://lipsum.app/id/1/688x387" />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
