<section id="aboutMe" class="about">
  <div class="inform__container container">
    <div class="inform__wrap">
      <h2 class="lng__inform__title inform__title">Про мене</h2>
      <div class="gallary__wrap">
        <div id="gallery-wrap" class="inline-gallery-container">
          <div class="f-carousel" id="myCarousel">
            <div class="f-carousel__viewport">
              <div class="f-carousel__track"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
