<footer class="footer">
  <div class="container">
    <div class="contact__wrap">
      <ul class="footer__list">
        <li>
          <ul class="footer__soc footer__soc--header">
            <li class="footer__item">
              <a
                href="https://instagram.com/"
                class="footer__link link"
                target="_blank"
                rel="noreferrer noopener nofollow"
                ><svg class="footer__icon--light" width="22" height="22">
                  <use href="./images/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="footer__item">
              <a
                href="https://tiktok.com/"
                target="_blank"
                rel="noreferrer noopener nofollow"
                class="footer__link link"
                ><svg class="footer__icon--light" width="22" height="22">
                  <use href="./images/icons.svg#icon-tiktok"></use>
                </svg>
              </a>
            </li>
            <li class="footer__item">
              <a
                href="https://facebook.com/"
                target="_blank"
                rel="noreferrer noopener nofollow"
                class="footer__link link"
                ><svg class="footer__icon--light" width="22" height="22">
                  <use href="./images/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="footer__item">
              <a
                href="https://youtube.com/"
                target="_blank"
                rel="noreferrer noopener nofollow"
                class="footer__link link"
                ><svg class="footer__icon--light" width="22" height="22">
                  <use href="./images/icons.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
          </ul>
        </li>
        <li class="footer__item">
          <a class="footer__link link" href="mailto:tahaburrent@gmail.com"
            >tahaburrent@gmail.com</a
          >
        </li>
        <li class="footer__item">
          <a class="footer__link link" href="tel:+7777777777">+777 777 77 77</a>
        </li>

        <li class="footer__item">
          <a
            target="_blank"
            rel="noreferrer noopener nofollow"
            class="footer__link"
            href="https://github.com/vaaleerkiin/Dog__Blog"
            ><svg class="footer__icon--light" width="30" height="30">
              <use href="./images/icons.svg#icon-github"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <span id="footer"></span>
</footer>
