<header class="header">
  <div class="container header__container">
    <a href="#" class="lng__logo logo header__logo link"
      >Щоденник Пті брабансона
    </a>
    <ul class="soc soc--header">
      <li class="soc__item">
        <a
          href="https://instagram.com/"
          class="soc__link link"
          target="_blank"
          rel="noreferrer noopener nofollow"
          ><svg class="soc__icon--light" width="22" height="22">
            <use href="./images/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="soc__item">
        <a
          href="https://tiktok.com/"
          target="_blank"
          rel="noreferrer noopener nofollow"
          class="soc__link link"
          ><svg class="soc__icon--light" width="22" height="22">
            <use href="./images/icons.svg#icon-tiktok"></use>
          </svg>
        </a>
      </li>
      <li class="soc__item">
        <a
          href="https://facebook.com/"
          target="_blank"
          rel="noreferrer noopener nofollow"
          class="soc__link link"
          ><svg class="soc__icon--light" width="22" height="22">
            <use href="./images/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="soc__item">
        <a
          href="https://youtube.com/"
          target="_blank"
          rel="noreferrer noopener nofollow"
          class="soc__link link"
          ><svg class="soc__icon--light" width="22" height="22">
            <use href="./images/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
    <nav class="navigation">
      <ul class="navigation__list list">
        <li class="navigation__item">
          <a href="#aboutMe" class="lng__aboutMe__nav navigation__link link"
            >Про мене</a
          ><span class="nav__icon"></span>
        </li>
        <li class="navigation__item">
          <a href="#news" class="lng__news__nav navigation__link link">Новини</a
          ><span class="nav__icon"></span>
        </li>
        <li class="navigation__item">
          <a href="#footer" class="lng__contact__nav navigation__link link"
            >Контаки</a
          ><span class="nav__icon"></span>
        </li>
        <li class="navigation__item">
          <ul class="nav__lang lang">
            <li class="lang__item">
              <button type="button" id="nav__en" class="en lang__btn"></button>
            </li>
            <li class="lang__item">
              <button type="button" id="nav__ua" class="ua lang__btn"></button>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <button
      type="button"
      data-menu-open
      class="menu-btn-open"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg
        class="icon-menu"
        width="32"
        height="32"
        aria-label="Перемикач мобільного меню"
      >
        <use href="./images/icons.svg#icon-Burger"></use>
      </svg>
    </button>
  </div>
  <div data-menu class="menu is-hidden-menu" id="mobile-menu">
    <div class="menu__wrap">
      <ul class="menu__list list">
        <li class="menu__item">
          <ul class="soc soc--menu">
            <li class="soc__item">
              <a
                href="https://instagram.com/"
                class="soc__link link"
                target="_blank"
                rel="noreferrer noopener nofollow"
                ><svg class="soc__icon--light" width="22" height="22">
                  <use href="./images/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="soc__item">
              <a
                href="https://tiktok.com/"
                target="_blank"
                rel="noreferrer noopener nofollow"
                class="soc__link link"
                ><svg class="soc__icon--light" width="22" height="22">
                  <use href="./images/icons.svg#icon-tiktok"></use>
                </svg>
              </a>
            </li>
            <li class="soc__item">
              <a
                href="https://facebook.com/"
                target="_blank"
                rel="noreferrer noopener nofollow"
                class="soc__link link"
                ><svg class="soc__icon--light" width="22" height="22">
                  <use href="./images/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="soc__item">
              <a
                href="https://youtube.com/"
                target="_blank"
                rel="noreferrer noopener nofollow"
                class="soc__link link"
                ><svg class="soc__icon--light" width="22" height="22">
                  <use href="./images/icons.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
          </ul>
        </li>
        <li class="menu__item">
          <a
            href="#aboutMe"
            data-menu-aboutMe
            class="lng__aboutMe__menu menu__link link"
            >Про мене</a
          ><span class="menu-soc__icon"></span>
        </li>
        <li class="menu__item">
          <a href="#news" data-menu-soc class="lng__news__menu menu__link link"
            >Соціальні мережі</a
          ><span class="menu-soc__icon"></span>
        </li>
        <li class="menu__item">
          <a
            href="#footer"
            data-menu-contact
            class="lng__contact__menu menu__link link"
            >Контаки</a
          >
        </li>

        <li class="menu__item">
          <ul class="menu__lang lang">
            <li class="lang__item">
              <button type="button" id="menu__en" class="en lang__btn"></button>
            </li>
            <li class="lang__item">
              <button type="button" id="menu__ua" class="ua lang__btn"></button>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</header>
