<section class="hero">
  <div class="hero__container container">
    <div class="hero__title-wrap">
      <h2 class="lng__heroTitle hero__title">
        Пті брабансон: блог собаки-компаньйона
      </h2>
    </div>
    <div class="hero__text-wrap">
      <p class="lng__heroText hero__text">
        Вітаємо на блозі нашої улюбленої собаки-компаньйона! Ми раді поділитися
        з вами нашими пригодами, враженнями та щоденним життям у сприятливому
        суспільстві з нашою веселою і доброю собачкою. Слідкуйте за нами та
        дізнавайтеся більше про нашу дружню команду!
      </p>
    </div>
  </div>
</section>
