<section id="news" class="news">
  <div class="container news__container">
    <div class="news__wrap">
      <h2 class="news__title">Новини</h2>
      <ul class="news__list"></ul>
      <!-- <div class="backdrop hidden">
        <div class="modal__wrap">
          <div class="modal">
            <div
              class="modal__gallary-wrap"
              id="inline-modal-gallary-container"
            ></div>
            <div class="modal__info">
              <h4 class="modal__title">
                Сьогодні Пті вперше відвідав пляж зі мною! Він дуже задоволений
                та веселий, навіть купався в морі.
              </h4>
              <p class="modal__text">
                Привіт, друзі! Сьогодні мій чотирилапий друг Пті відвідав зі
                мною пляж вперше, і я повинен сказати, що це був чудовий день
                для нас обох!
              </p>
              <p class="modal__text">
                Пті звичайно, був трохи збентежений, коли ми прибули на пляж,
                він був не впевнений, що йому дозволено бути на такому великому
                просторі, але швидко заспокоївся та почав досліджувати оточуючі
                його простори. Він навіть бігав по піску та грався з іншими
                собаками, які також були на пляжі. Пті дуже задоволений та
                веселий!
              </p>
              <p class="modal__text">
                Одним з найбільших вражень, яке Пті отримав на пляжі було, коли
                він вперше купався в морі. Спочатку він був трохи напружений,
                але коли я занурив його в воду та він зрозумів, що це не так
                страшно, як здавалося на початку, він почав плавати та гратися в
                морських хвилях. Я був радий побачити, що він насолоджується
                таким видом відпочинку.
              </p>
              <p class="modal__text">
                Загалом, це був чудовий день для нас обох. Ми відчували вітр у
                волоссі, насолоджувалися сонцем та були щасливі на пляжі разом.
                Я дуже радий, що Пті насолодився своїм першим візитом на пляж та
                я впевнений, що це буде не останній раз, коли ми відвідаємо це
                чудове місце.
              </p>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</section>
